* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(165, 42, 42, 0.819);
}

nav {
    background-color: brown;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

#navname {
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding-left: 40px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: end;
}

ul li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
}


ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    background-color: yellow;
    padding: 10px;
    border-radius: 30px;
    color: black;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name {
    color: yellow;
    font-weight: 700;
    font-size: 150px;
    text-align: center;
    line-height: 150px;
    font-family: cursive;
}

#herotext {
    text-align: center;
    font-size: 50px;
    text-align: start;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
}

.text {
    height: 400px;
    width: 550px;
    margin: 90px;
    padding: 50px;
    color: white;
}

.img {
    margin-top: 60px;
    margin-right: 50px;
    height: 700px;
    width: 700px;
    background-image: url(./images/coffee-hero-section.png);
    background-size: cover;

}

.herobut {
    padding: 30px;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 20px;
    transition: 0.4s;
}

.herobut:hover {
    background-color: yellow;
    box-shadow: 2px 2px 8px black;
}

#day {
    text-align: end;
}