#container {
    height: 560px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;

}

.letters {
    height: 50px;
    width: 80px;
    margin: 20px;
    padding: 30px;
    border: 2px solid black;
    flex-direction: row;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
    transition: 0.6s;

}

.letters:hover {
    box-shadow: 5px 5px 8px black;
}