html* {
    background-color: white;
    border: 0;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-color: #806BDC;
    line-height: 100px;
    border: 0px;
    padding: 0px;
}

#nav {
    color: white;
}

article {
    background-color: #9b3b9b;
}

h2 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

#table {
    padding: 0%;
    border: black;
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

span {
    text-decoration: line-through;
}

#image {
    text-align: center;
    padding: 30px;
}

#start {
    background-color: #806BDC;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
}

header {
    display: flex;
    flex-direction: row;
    flex-grow: 3px;
    height: 150px;
}